{% extends 'inventory/base_structure.html' %}

{% block content %}
<form action="." method="POST"> {% csrf_token %}
  {{form.as_p}}
  <input type="submit" value="Save & Update Item">
</form>

{% for shipment in shipments %}
  {% if shipment.shipmentitem_set %}
  <table>
      <thead>
        <tr>
          <th>Item</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        {% for shipment_item in shipment.shipmentitem_set.all %}
        <tr>
          <td>{{ shipment_item.item }}</td>
          <td>{{ shipment_item.quantity }}</td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
  {% endif %}

{% endfor %}


{% endblock content %}
