{% extends 'inventory/base_structure.html' %}

{% block content %}
<h1>Editing shipment ID {{shipment.id}}</h1>

<h2>Inventory Levels</h2>
<h3>Ensure that the quantity entered for an item on a shipment is less than
or equal to its remaining inventory!</h3>

{% if inventory_levels %}
<table>
  <thead>
    <th>Item</th>
    <th>Quantity</th>
  </thead>
  <tbody>
    {% for item in inventory_levels %}
    <tr>
      <td>{{item.item}}</td>
      <td>{{item.quantity}}</td>
    </tr>
      {% endfor %}
  </tbody>
</table>
{% endif %}

<form action="" method="POST" enctype="multipart/form-data">
{% for hidden_field in form.hidden_fields %}
  {{ hidden_field.errors}}
  {{ hidden_field}}
{% endfor %}
{% csrf_token %}
  {{form.management_form}}
  {{form.non_form_errors}}
  <h2>Shipment items</h2>
  {% for shipment_item_form in form.forms %}
    <hr>
    <h4>
      {% if shipment_item_form.instance.id %}
        Item: {{ shipment_item_form.instance.item.id }}
      {% else %}
        {% if form.forms|length > 1 %}
          Add another item!
        {% else %}
          Add an item!
        {% endif %}
      {% endif %}
    </h4>
    {% for hidden_field in shipment_item_form.hidden_fields %}
      {{hidden_field.errors}}
    {% endfor %}
    <table>
      {{shipment_item_form.as_table}}
    </table>
{% endfor %}
<hr>
<button type="submit" value="Save & Update Shipment">Save & Update Shipment</button>
</form>
{% endblock content %}
