{% extends 'inventory/base_structure.html' %}

{% block content %}
<h2>Shipments for company</h2>
<a href="{% url 'create-shipment' company=view.kwargs.company %}">Create New Shipment</a>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Date Created</th>
      <th>Ship/Receive Date</th>
      <th>Direction</th>
      <th>To Address</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for shipment in object_list %}
    <tr>
        <td> {{shipment.get_status}}  </td>
        <td>{{ shipment.date_created }}</td>
        <td>{{ shipment.date_shipped }}</td>
        <td>{{ shipment.direction }}</td>
        <td>{{ shipment.to_address }}</td>
        <td>{% if shipment.date_shipped %}---------{% else %}<a href="{% url 'edit-shipment' company=shipment.company.id shipmentid=shipment.id %}">View & Edit Shipment</a>{% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock content %}
