{% extends 'inventory/base_structure.html' %}

{% block content %}
<h2>Shipments for company</h2>

<table>
  <thead>
    <tr>
      <th>Date Created</th>
      <th>Date Shipping</th>
      <th>Direction</th>
      <th>To Address</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for shipment in object_list %}
    <tr>
        <td>{{ shipment.date_created }}</td>
        <td>{{ shipment.date_shipping }}</td>
        <td>{{ shipment.direction }}</td>
        <td>{{ shipment.to_address }}</td>
        <td><a href="{% url 'edit-shipment' company=shipment.company.id shipmentid=shipment.id %}">View & Edit Shipment</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock content %}
